<form action="/tasks/add" method="POST">

  <div>
    <label for="title">Title</label>
    <input type="text" name="title" placeholder="title" id="title" />
  </div>

  <div>
    <label for="description">Description</label>
    <textarea name="description" id="description" placeholder="description">
    </textarea>
  </div>
  <button>add</button>

</form>